// ===============
// General Styles
// ===============

.cover {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
  text-shadow: $textShadowColor 0px 1px 1px;

  @media (max-width: $mobile) {
    max-height: 900px;
    margin-bottom: 60vw;
  }
}

.cover__image-wrapper {
  height: 100%;
  width: 100%;
  z-index: -2;
  position: absolute;
  overflow: hidden;
}

.cover__image-inner {
  position: absolute;
  height: 100%;
  width: 100%;
}

.cover__image {
  height: 100%;
  object-fit: cover;
}

// ==================================
// Pagr title and loading background
// ==================================

.cover__title-wrapper {
  font-family: $displayFont;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  color: $white;
  font-size: 20vw;
  z-index: 2;
  overflow: hidden;

  @media (max-width: $mobile) {
    top: 20vw;
  }
}

.cover__loading {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  background-color: $black;
}

// ==========================
// Content and dynamic items
// ==========================

.cover__content {
  height: 100%;
  width: 100%;
  position: relative;
  color: $white;
  font-size: 1vw;
  font-weight: 700;
  letter-spacing: 0.05vw;
  line-height: 0.95vw;
  z-index: 3;

  @media (max-width: $mobile) {
    font-size: 3.4vw;
    line-height: 2.9vw;
    text-align: center;
  }

  .tag {
    position: absolute;
    top: 3vw;
    text-transform: uppercase;

    &.left {
      left: 3vw;
    }

    &.right {
      right: 3vw;
      text-align: right;
    }

    @media (max-width: $mobile) {
      &.left {
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        top: 10vw;
      }

      &.right {
        display: none;
      }
    }
  }

  .opening-hours {
    position: absolute;
    left: 3vw;
    bottom: 3vw;

    @media (max-width: $mobile) {
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      bottom: -60vw;
      color: $black;
      text-shadow: none;
    }
  }

  .address {
    position: absolute;
    right: 3vw;
    bottom: 3vw;
    text-align: right;

    @media (max-width: $mobile) {
      left: 50%;
      transform: translateX(-50%);
      top: 40vw;
      text-align: center;
    }

    a {
      color: $white;
      text-decoration: none;
    }
  }
}

.cover__down-arrow {
  position: absolute;
  left: 50%;
  // transform: translateX(-50%);
  bottom: 3vw;

  @media (max-width: $mobile) {
    width: 10vw;
  }
}
