// ===============
// General Styles
// ===============

.cover {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
}

.cover__image-wrapper {
  height: 100%;
  width: 100%;
  z-index: -2;
  position: absolute;
  overflow: hidden;
}

.cover__image-inner {
  position: absolute;
  height: 100%;
  width: 100%;
}

.cover__image {
  height: 100%;
  object-fit: cover;
}

// ==================================
// Pagr title and loading background
// ==================================

.cover__title-wrapper {
  font-family: $displayFont;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  color: $white;
  font-size: 16.5vw;
  z-index: 2;
  overflow: hidden;

  @media (max-width: $tablet) {
    top: 15vw;
  }

  @media (max-width: $mobile) {
    font-size: 15vw;
  }
}

// ==========================
// Content and dynamic items
// ==========================

.cover__content {
  height: 100%;
  width: 100%;
  position: relative;
  color: $white;
  font-size: 1vw;
  font-weight: 400;
  line-height: 0.95vw;
  z-index: 3;

  @media (max-width: $tablet) {
    font-size: 1.25vw;
  }

  @media (max-width: $mobile) {
    font-size: 3vw;
    line-height: 2.9vw;
    text-align: center;
  }

  // .tag {
  //   position: absolute;
  //   top: 3vw;
  //   text-transform: uppercase;

  //   &.left {
  //     left: 3vw;
  //   }

  //   &.right {
  //     right: 3vw;
  //     text-align: right;
  //   }

  //   @media (max-width: $mobile) {
  //     &.left {
  //       left: 50%;
  //       transform: translateX(-50%);
  //       width: 100%;
  //       top: 10vw;
  //     }

  //     &.right {
  //       display: none;
  //     }
  //   }
  // }

  .opening-hours {
    position: absolute;
    left: 3vw;
    bottom: 3vw;

    @media (max-width: $tablet) {
      font-size: 2vw;
    }

    @media (max-width: $mobile) {
      display: none;
    }
  }

  .address {
    position: absolute;
    right: 3vw;
    bottom: 3vw;
    text-align: right;

    @media (max-width: $tablet) {
      font-size: 2vw;
    }

    @media (max-width: $mobile) {
      left: 50%;
      transform: translateX(-50%);
      top: 35vw;
      text-align: center;
      text-transform: uppercase;
      width: fit-content;
    }

    a {
      color: $white;
      text-decoration: none;

      p {
        @media (max-width: $mobile) {
          margin: 2.5vw 0;
          font-size: 3vw;
        }
      }
    }
  }
}

.cover__down-arrow {
  position: absolute;
  left: 50%;
  bottom: 3vw;
  cursor: pointer;
  z-index: 100;

  @media (max-width: $tablet) {
    width: 10vw;
    bottom: 7vw;
  }
}
