// ===============
// General Styles
// ===============

.floating-items {
  position: relative;
  padding: 3vw;
  height: 165vw;

  @media (max-width: $mobile) {
    height: 645vw;
    padding: 0 3vw;
  }
}

.item {
  position: relative;
  display: flex;

  @media (max-width: $mobile) {
    margin: 10vw 0;
  }
}

.item__image {
  object-fit: cover;
}

.item__text {
  @media (max-width: $mobile) {
    margin: 3vw 0;
  }
}

// ===================
// Single item styles
// ===================

.item--1 {
  flex-direction: row-reverse;
  right: 3vw;
  top: 10vw;

  @media (max-width: $mobile) {
    flex-direction: column;
    right: 0;
    align-items: flex-end;
    top: 0;
  }

  .item__image-wrapper {
    width: 40vw;

    @media (max-width: $mobile) {
      width: 80vw;
    }
  }

  .item__text {
    width: 30vw;
    margin-right: 3vw;
    text-align: right;

    @media (max-width: $mobile) {
      width: 80vw;
      text-align: right;
      margin-right: 0;
    }
  }
}

.item--2 {
  flex-direction: column;
  top: 20vw;

  @media (max-width: $mobile) {
    top: 0;
  }

  .item__image-wrapper {
    width: 30vw;

    @media (max-width: $mobile) {
      width: 80vw;
    }
  }

  .item__text {
    width: 25vw;
    margin-top: 3vw;

    @media (max-width: $mobile) {
      width: 80vw;
    }
  }
}

.item--3 {
  flex-direction: column-reverse;
  align-items: flex-end;
  right: 10vw;
  top: -35vw;

  @media (max-width: $mobile) {
    flex-direction: column;
    right: 0;
    top: 0;
  }

  .item__image-wrapper {
    width: 40vw;

    @media (max-width: $mobile) {
      width: 85vw;
    }
  }

  .item__text {
    width: 35vw;
    margin-bottom: 2vw;
    text-align: right;

    @media (max-width: $mobile) {
      width: 85vw;
      text-align: right;
    }
  }
}

.item--4 {
  flex-direction: row-reverse;
  justify-content: flex-start;
  top: -35vw;

  @media (max-width: $mobile) {
    flex-direction: column;
    top: 0;
  }

  .item__image-wrapper {
    width: 65vw;

    @media (max-width: $mobile) {
      width: 90vw;
    }
  }

  .item__text {
    width: 25vw;
    margin-right: 3vw;
    text-align: right;

    @media (max-width: $mobile) {
      width: 90vw;
      margin-right: 0;
      text-align: left;
    }
  }
}
