footer {
  display: flex;
  justify-content: space-between;
  padding: 3vw 6vw;

  @media (max-width: 768px) {
    flex-direction: column;
    margin-bottom: 20vw;
  }

  .list {
    width: 20vw;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  h4 {
    font-family: "Abril Fatface", cursive;
    font-size: 1.1vw;

    @media (max-width: 768px) {
      font-size: 4vw;
    }
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 1vw;
      font-size: 0.875vw;
      font-weight: 200;

      @media (max-width: 768px) {
        font-size: 3vw;
        margin-bottom: 3vw;
      }

      a {
        text-decoration: none;
        color: $black;
      }

      p {
        margin: 0;
        margin-bottom: 0.2vw;

        @media (max-width: 768px) {
          margin-bottom: 1vw;
        }
      }
    }
  }

  .site {
    text-align: center;
  }

  .social {
    text-align: right;
  }

  .contact,
  .site,
  .social {
    @media (max-width: 768px) {
      text-align: center;
    }
  }
}
