.footer {
  color: $black;

  .footer__lists {
    display: flex;
    justify-content: space-between;
    padding: 3vw 6vw 2vw;

    @media (max-width: $mobile) {
      flex-direction: column;
      margin-bottom: 10vw;
    }

    .list {
      width: 20vw;

      @media (max-width: $mobile) {
        width: 100%;
      }
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 1vw;

        @media (max-width: $mobile) {
          margin-bottom: 3.4vw;
        }

        p {
          margin: 0;
          margin-bottom: 0.2vw;

          @media (max-width: $mobile) {
            margin-bottom: 1vw;
          }
        }
      }
    }

    .site {
      text-align: center;
    }

    .social {
      text-align: right;
    }

    .contact,
    .site,
    .social {
      @media (max-width: $mobile) {
        text-align: center;
      }
    }
  }

  .footer__scroll-to-top {
    display: flex;
    justify-content: center;
    margin-bottom: 3vw;

    @media (max-width: $tablet) {
      transform: scale(0.9);
    }

    @media (max-width: $mobile) {
      margin-bottom: 10vw;
    }

    svg {
      cursor: pointer;
    }
  }

  &--light {
    color: $white;
  }
}
