.full-width-banner {
  height: fit-content;
  width: 100%;
  position: relative;
}

.full-width-banner__text {
  font-family: "Abril Fatface", cursive;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;

  span {
    font-size: 4vw;
    text-align: center;
    color: $white;
    margin-bottom: 0.6vw;
    display: block;

    @media (max-width: 768px) {
      font-size: 5vw;
    }
  }
}

.full-width-banner__image {
  position: relative;
  z-index: -1;
}
