.full-width-banner {
  height: fit-content;
  width: 100%;
  position: relative;

  @media (max-width: $mobile) {
    height: 100vw;
    width: auto;
    object-fit: cover;
  }
}

.full-width-banner__text {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 100%;

  @media (max-width: $mobile) {
    top: 28%;
  }

  span {
    color: $white;
    margin-bottom: 0.6vw;
    display: block;
  }
}

.full-width-banner__image {
  position: relative;
  z-index: -1;

  @media (max-width: $mobile) {
    height: 100%;
    width: 100%;
  }
}
