.hero {
  height: 100vh;
  position: relative;
  text-shadow: $textShadowColor 0px 1px 1px;
}

.hero__title-wrapper {
  font-family: "Abril Fatface", cursive;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  color: $white;
  font-size: 14vw;
  z-index: 2;
  overflow: hidden;

  @media (max-width: 768px) {
    top: 10vh;
  }
}

.hero__loading {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  background-color: $black;
}

.hero__image-wrapper {
  height: 100%;
  width: 100%;
  z-index: -2;
  position: absolute;
  overflow: hidden;
}

.hero__image-inner {
  position: absolute;
  height: 100%;
  width: 100%;
}

.hero__image {
  height: 100%;
  object-fit: cover;
}

.hero__content {
  height: 100%;
  width: 100%;
  position: relative;
  color: $white;
  font-size: 1vw;
  font-weight: 400;
  letter-spacing: 0.05vw;
  line-height: 0.95vw;
  z-index: 3;

  .tag {
    position: absolute;
    top: 3vw;
    text-transform: uppercase;

    &.left {
      left: 3vw;
    }

    &.right {
      right: 3vw;
      text-align: right;
    }
  }

  .opening-hours {
    position: absolute;
    left: 3vw;
    bottom: 3vw;
    font-weight: 500;
  }

  .address {
    position: absolute;
    right: 3vw;
    bottom: 3vw;
    text-align: right;

    a {
      color: $white;
      text-decoration: none;
    }
  }

  @media (max-width: 768px) {
    font-size: 3vw;
    line-height: 2.5vw;
    text-align: center;

    .tag {
      &.left {
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        top: 3vh;
      }

      &.right {
        display: none;
      }
    }

    .opening-hours {
      left: 50%;
      transform: translateX(-50%);
      top: 60vh;
    }

    .address {
      left: 50%;
      transform: translateX(-50%);
      top: 20vh;
      text-align: center;
    }
  }
}

.hero__down-arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3vw;
  color: $white;

  @media (max-width: 768px) {
    width: 10vw;
  }
}
