.ilgiorno__title {
  padding: 8vw 0 0;
  color: $white;
}

.ilgiorno__gallery {
  margin-top: 5vw;
  display: flex;
  flex-direction: column;

  .text {
    color: $white;
  }

  .image {
    width: 60vw;
    margin: 5vw 3vw;

    &:nth-child(odd) {
      align-self: flex-end;
    }

    &:nth-child(3n - 3) {
      margin-left: 0vw;
      margin-right: 0vw;
    }
  }
}
