.ilgiorno__title {
  padding: 8vw 0 0;
  color: $white;
}

.ilgiorno__gallery {
  display: flex;
  flex-direction: column;
  margin-top: 8vw;

  .image {
    margin: 5vw;

    &:nth-of-type(even) {
      align-self: flex-end;
    }

    &:nth-of-type(3n - 3) {
      margin-left: 0vw;
      margin-right: 0vw;
    }

    &--45 {
      width: 45vw;
    }

    &--50 {
      width: 50vw;
    }

    &--55 {
      width: 55vw;
    }

    &--60 {
      width: 60vw;
    }

    &--65 {
      width: 65vw;
    }

    &--70 {
      width: 70vw;
    }
  }

  .image--with-caption {
    display: flex;

    .text {
      color: $white;
      align-self: center;
      text-transform: uppercase;
      max-width: 22vw;
      text-align: left;
    }

    &.row-reverse {
      flex-direction: row-reverse;

      .text {
        text-align: right;
      }
    }
  }
}
