.ilgiorno__title {
  padding: 8vw 0 0;
  color: $white;

  @media (max-width: $mobile) {
    padding-top: 20vw;
  }
}

.ilgiorno__gallery {
  display: flex;
  flex-direction: column;
  margin-top: 8vw;
  margin-bottom: 5vw;

  @media (max-width: $mobile) {
    margin-bottom: 10vw;
  }

  .image {
    margin: 5vw;

    @media (max-width: $mobile) {
      margin: 0;
    }

    &:nth-of-type(odd) {
      align-self: flex-end;
    }

    &:nth-of-type(3n - 1) {
      margin-left: 0vw;
      margin-right: 0vw;
    }
  }

  .image--40 {
    width: 40vw;
  }

  .image--45 {
    width: 45vw;
  }

  .image--50 {
    width: 50vw;
  }

  .image--55 {
    width: 55vw;
  }

  .image--60 {
    width: 60vw;
  }

  .image--65 {
    width: 65vw;
  }

  .image--70 {
    width: 70vw;
  }

  .image--40,
  .image--45,
  .image--50,
  .image--55,
  .image--60,
  .image--65,
  .image--70 {
    @media (max-width: $mobile) {
      width: 100vw;
    }
  }
}

.ilgiorno__caption {
  color: $white;

  @media (max-width: $mobile) {
    margin: 10vw 0;
  }
}
