.lastoria__title-wrapper {
  position: relative;

  .ticket {
    position: absolute;
    top: 65%;
    width: 30vw;
    z-index: -1;

    &.left {
      left: -5vw;
      transform: rotate(-25deg);
    }

    &.right {
      right: -5vw;
      transform: rotate(25deg);
    }
  }
}

.lastoria__title {
  margin: 8vw 0 0;
}

.lastoria__story {
  margin: 25vw 0 0;

  .slide {
    margin: 10vw 0;
    display: flex;
    text-align: center;

    &.right {
      flex-direction: row-reverse;
    }
  }

  .slide__image {
    flex: 1;
  }

  .slide__text {
    flex: 1;

    p {
      padding: 3vw;
    }
  }

  .slide__blank-space {
    flex: 1;
  }
}

.lastoria__statement {
  margin: 12vw 0;
}
