// ===============
// Colors
// ===============

$white: #f6f4f1;
$black: #1d1d1d;
$trueBlack: #000;
$textShadowColor: #666;

// ===============
// Breakpoints
// ===============

$tablet: 1080px;
$mobile: 760px;
