// Fonts
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:wght@100;300;400;500;700&display=swap");

// font-family: 'Abril Fatface', cursive;
// font-family: 'Roboto', sans-serif;

// Reset
@import "./normalize.scss";

// Variables
@import "./variables.scss";

// Components
@import "./components/hero.scss";
@import "./components/floatingItems.scss";
@import "./components/footer.scss";
@import "./components/fullWidthBanner.scss";

body,
html {
  font-family: "Roboto", sans-serif;
  /* Adjust font size */
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.statement {
  height: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (max-width: 768px) {
    margin-top: 6vw;
  }

  span {
    font-family: "Abril Fatface", cursive;
    font-size: 3vw;
    margin-bottom: 0.6vw;

    @media (max-width: 768px) {
      font-size: 4vw;
    }
  }
}

.covid-notice {
  height: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  @media (max-width: 768px) {
    height: 90vw;
  }

  h3 {
    font-family: "Abril Fatface", cursive;
    font-size: 3vw;
    margin-bottom: 2vw;

    @media (max-width: 768px) {
      font-size: 4vw;
    }
  }

  p {
    font-size: 1vw;
    font-weight: 200;
    max-width: 40vw;
    line-height: 1.5vw;
    margin: 1vw 0;

    @media (max-width: 768px) {
      font-size: 3vw;
      line-height: 4vw;
      max-width: 80vw;
    }
  }
}
