// ===============
// Display
// ===============

@font-face {
  font-family: "Novar";
  src: url("../fonts/Novar.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Made Saonara";
  src: url("../fonts/MadeSaonara.otf");
  font-display: swap;
}

@font-face {
  font-family: "Made Saonara 2";
  src: url("../fonts/MadeSaonara2.otf");
  font-display: swap;
}

@font-face {
  font-family: "Abril Fatface";
  src: url("../fonts/AbrilFatface-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Bigillia";
  src: url("../fonts/Bigilla.otf");
  font-display: swap;
}

@font-face {
  font-family: "Bigillia Bold";
  src: url("../fonts/Bigilla-Bold.otf");
  font-weight: bold;
  font-display: swap;
}

// ===============
// Main text
// ===============

@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/JosefinSans-Thin.ttf");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/JosefinSans-ExtraLight.ttf");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/JosefinSans-Light.ttf");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/JosefinSans-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/JosefinSans-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/JosefinSans-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/JosefinSans-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

// ===================
// Global text styles
// ===================

.text--sm {
  margin-bottom: 1vw;
  font-size: 0.875vw;
  font-weight: 300;
  color: $black;

  @media (max-width: $mobile) {
    font-size: 3.2vw;
  }
}

.text--md {
  font-weight: 300;
  font-size: 1vw;
  line-height: 1.55vw;
  color: $black;

  @media (max-width: $mobile) {
    font-size: 3.8vw;
    line-height: 4.8vw;
  }
}

.text--display {
  font-family: $displayFont;
  font-size: 4vw;
  text-align: center;

  @media (max-width: $mobile) {
    font-size: 8.5vw;
  }
}

.text--initial {
  font-family: $displayFont;
  font-size: 6vw;
  color: $black;

  @media (max-width: $mobile) {
    font-size: 8vw;
  }
}

.text--heading-sm {
  font-family: $displayFont;
  font-size: 1.25vw;

  @media (max-width: $mobile) {
    font-size: 4.5vw;
  }
}

.text--link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: $black;

  &:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 0;
    display: block;
    margin-top: 2px;
    right: 0;
    background-color: $black;
    transition: 0.4s ease;
  }

  &:hover {
    &:after {
      width: 100%;
      left: 0;
      background-color: $black;
    }
  }
}
