// ===============
// Colors
// ===============

$white: #f6f4f1;
$black: #1d1d1d;
$trueBlack: #000;
$textShadowColor: #666;

// ===============
// Fonts
// ===============

$displayFont: "Bigillia Bold", cursive;
$textFont: "Josefin Sans", sans-serif;

// ===============
// Breakpoints
// ===============

$mobile: 768px;
